<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.address[:country] %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @user.address[:address_1] %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @user.address[:address_2] %>
</p>

<%= link_to 'Shops', user_shops_path(@user) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
